@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DGraph</h1>
    <p class="lead">Github Project</p>
    <p><a href="https://github.com/floradu88/dgraph" class="btn btn-primary btn-lg">Learn more about Github Project</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Import your projects</h2>
        <p>
            Use command line tool to insert the package.config references
        </p>
    </div>
    <div class="col-md-4">
        <h2>Write your own dependency extractors</h2>
        <p>
            Use command line tool to insert the dependencies
        </p>
    </div>
    <div class="col-md-4">
        <h2>Search your own dependencies</h2>
        <p><a href="~/Search/Index" class="btn btn-primary">Search</a></p>
    </div>
</div>