<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="applications" value="app1,app2" />
    <add key="applicationFilePaths" value="\\localhost\d$\logs1,\\serverWithLongName.domain.com\Logs" />
    <add key="includedEntries" value="*.*"/>
    <add key="excludedEntries" value="bin;obj"/>
  </appSettings>
</configuration>